<ion-view title="delegation" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="delegation-form9" class="list">
      <ion-item id="delegation-list-item8">현재 관리중인 그룹 : {group}</ion-item>
      <label class="item item-input" id="delegation-input13">
        <span class="input-label">이름</span>
        <input type="text" placeholder="이름을 입력하세요">
      </label>
      <label class="item item-input" id="delegation-input14">
        <span class="input-label">전화번호</span>
        <input type="number" placeholder="번호를 입력하세요">
      </label>
    </form>
    <button id="delegation-button8" class="button button-positive button-block">관리자 위임</button>
  </ion-content>
</ion-view>