<ion-view title="firstpage" hide-nav-bar="true" hide-back-button="true" id="page12">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height:5%;"></div>
    <div>
      <img src="img/YIKeHsEOSmmwG9aQfQDE_.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <img src="img/logoBG.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    <!-- <h1 id="firstpage-heading8" style="color:#3880FF;font-weight:700;font-style:italic;text-align:center;">STRONG FRIEND</h1> -->
    <div id="firstpage-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;"><B>Soldier Management Application</B></p>
    </div>
    <div class="spacer" style="height: 2%;"></div>
    <a ui-sref="login()" id="firstpage-button14" style="border-radius:15px 15px 15px 15px;" class="button button-positive button-block">로그인</a>
    <a ui-sref="signup()" id="firstpage-button15" style="border-radius:15px 15px 15px 15px;" class="button button-positive button-block button-outline">회원가입</a>
  </ion-content>
</ion-view>