<ion-view title="groupmanage" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add-circle"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div id="groupmanage-container10">
      <ion-list id="groupmanage-list13">
        <ion-item class="item-icon-left" id="groupmanage-list-item10" ui-sref="groupsoldierlist()">
          <i class="icon ion-ios-people"></i>그룹1</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>