<ion-view title="main" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 10%;"></div>
    <h1 id="main-heading6" style="color:#000000;font-weight:600;text-align:center;">환영합니다</h1>
    <div id="main-markdown17" ng-class="idmodel=getId()" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{userid}}님</p>
    </div>
    <div class="spacer" style="height: 20%;"></div>
    <div id="main-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">버튼을 눌러 원하는 작업을 선택하세요</p>
    </div>
    <div id="main-button-bar6" class="button-bar">
      <a ui-sref="soldierlist()" style="color:Default;font-size:12px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-large button-block button-outline icon-left ion-android-person">개인관리</a>
      <a ui-sref="groupmanage()" style="color:Default;font-size:12px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-large button-block button-outline icon-left ion-ios-people">그룹관리</a>
    </div>
    <div id="main-button-bar4" class="button-bar">
      <a ui-sref="setting()" style="font-size:12px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-large button-block button-outline icon-left ion-wrench">설정</a>
      <a ui-sref="delegation()" style="font-size:12px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-large button-block button-outline icon-left ion-ios-loop-strong">관리자위임</a>
    </div>
    <a ui-sref="login()" style="border-radius:15px 15px 15px 15px;" class="button button-positive button-small button-block button-clear">로그아웃</a>
    <div class="spacer" style="height: 10%;"></div>
    <div id="main-markdown15" style="text-align:center;" class="show-list-numbers-and-dots bottoms">
      <p style="color:#CCCCCC;">Copyright 2019.Team7. All rights reserved</p>
    </div>
  </ion-content>
</ion-view>