<ion-view title="setting" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="setting-list9">
      <ion-item class="item-divider" id="setting-list-item-divider4"> 계정관리</ion-item>
      <ion-item class="item-avatar" id="setting-list-item12">
        <h2>사용자이름</h2>
        <p>부연설명</p>
      </ion-item>
      <ion-item class="item-divider" id="setting-list-item-divider5"> 사용금지시간 설정</ion-item>
      <label class="item item-input" id="setting-input16">
        <span class="input-label">시작시각</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="setting-input17">
        <span class="input-label">종료시각</span>
        <input type="time" placeholder="">
      </label>
    </ion-list>
    <button ui-sref="firstpage()" id="setting-button9" class="button button-positive button-small button-block button-clear">로그아웃</button>
  </ion-content>
</ion-view>