<ion-view title="회원가입" nav-transition="none" id="page3">
  <ion-content padding="true" class="has-header">
      <h2 class="line"style="color:#2B2B2B;font-weight:600;text-align:center;padding:3%">회원가입</h2>
      <hr>
      <img src="img/logotxt.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;padding:3%">
            <div>
                <h3 style="text-align:center;color:#2B2F52" ><B>강한친구에 오신 것을 환영합니다.</B></h3>
                <h5 style="text-align:center;">회원가입을 위해 다음의 양식을 작성해 주세요.</h5>
            </div>
    <form id="signup-form2" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">아이디</span>
          <input type="text" placeholder="" ng-model="usersign.userId">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">비밀번호</span>
          <input type="password" placeholder="" ng-model="usersign.password">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">비밀번호 확인</span>
          <input type="password" placeholder="" ng-model="usersign.pwconfig">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">이름</span>
          <input type="text" placeholder="" ng-model="usersign.name">
        </label>
        <label class="item item-input" id="signup-input1">
          <span class="input-label">그룹이름</span>
          <input type="text" placeholder="" ng-model="usersign.groupName">
        </label>
        <label class="item item-input" id="signup-input12">
          <span class="input-label">전화번호</span>
          <input type="tel" placeholder="' - ' 는 포함하지 말 것" ng-model="usersign.phoneNumber">
        </label>
      </ion-list>
      <a ng-click="signup()" id="signup-button5" class="button button-stable button-block">회원가입</a>
    </form>
  </ion-content>
</ion-view>